<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <div class="body">
        <div class="first">
            <h3 class="heading" id="welcome">Welcome Back!</h3><br>
            <pre class="discription">To keep connect with us please<br>  login with your personal info</pre> 
            <div class="login"><a href="./login" id="login">LOGIN</a></div>
        </div>
        <div class="second">
            <div class="second2">
            <h3 class="heading" id="create">Create Account</h3><br>
            <form action="/signup" method="post">
            <div class="detail"><input type="text" name="name" placeholder="Name" required></div>
            <br>
            <div class="detail"><input type="email" name="email" placeholder="Email" required></div>
            <br>
            <div class="detail"><input type="password" name="password" placeholder="Password" required></div>
            <br>
            <br>
            <div><input type="submit" value="SIGN UP" id="signup"></div>
            </form> 
            </div>
           
        </div>
    </div>

</body>
</html>